<%= form_with model: book do |form| %>
  <div>
    <%= form.label :title %>
    <br/>
    <%= form.text_field :title %>
    <% book.errors.full_messages_for(:title).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.label :author %>
    <br/>
    <%= form.text_field :author %>
    <% book.errors.full_messages_for(:author).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.label :description %>
    <br/>
    <%= form.text_field :description %>
    <% book.errors.full_messages_for(:description).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.label :number_of_pages %>
    <br/>
    <%= form.number_field :number_of_pages %>
    <% book.errors.full_messages_for(:number_of_pages).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.submit "Create Book", class: "btn btn-dark btn-sm" %>
  </div>
<% end %>
